body {
    background-image: radial-gradient( circle farthest-corner at 14.2% 27.5%,  rgba(104,199,255,1) 0%, rgba(181,126,255,1) 90% );

}

/* Styling for trending/popular cards */

.trending-posts .card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.trending-posts .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
}

.trending-posts .card-img-overlay {
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
}

.trending-posts .card:hover .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.trending-posts .card:hover {
    transform: scale(1.05);
}


/* Style for the challenge board */

.challenge-board {
    background-color: rgba(240, 248, 255, 0.5);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.challenge-board .card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
    /* cursor: pointer; */
}

.challenge-board .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f2f1f1;
}

.challenge-board .image-wrapper-box {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 25px;
}

.challenge-board .image-wrapper-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.d-md-none.d-flex.flex-row.flex-nowrap.overflow-auto {
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.d-md-none.d-flex.flex-row.flex-nowrap.overflow-auto::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, Opera */
}

@media (max-width: 768px) {
    .challenge-board .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}