body {
    background-image: radial-gradient(circle farthest-corner at 14.2% 27.5%, rgba(104,199,255,1) 0%, rgba(181,126,255,1) 90%);
}

/* Set up for particles.js */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

label svg {
    cursor: pointer;
    padding: 10px;
}

input[type="file"] {
    display: none;
}

#game-title-input {
    font-weight: 700;
    color: black;
    text-align: center;
    border-color: rgb(172, 172, 172);
    border-radius: 30px;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: white;
}

#word-input{   
    font-family: monospace;
    font-size: 36px;
    letter-spacing: 13px;
    display: inline-block;
    text-align: center;
    border: none;
    margin: 20px;
    outline: none;
    background-color: transparent;
    border-bottom: 3px solid white;
}

#word-input::after {
    content: '';
    height: 3px; /* Adjust line thickness as needed */
    background-color: black; /* Adjust line color as needed */
}

#underline-container {
    border-bottom: 3px solid black; /* Underline effect */
}

.image-cell {
    width:45%;
    height: 200px;
    background-color: #333;
    padding: 0;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px auto;
    position: relative;
    overflow: hidden;
}

.change-img-icon {
    position: absolute;
    top: 2px;
    left: 2px;
    cursor: pointer;
}

.images-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    color: black;
}

#submit-upload-game {
    font-weight: 700;
    letter-spacing: 4px;
    color: black;
    text-align: center;
    border-color: rgb(172, 172, 172);
    border-radius: 30px;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: white;
    margin-top: 20px;
}

#hint-container {
    font-weight: 700;
    color: black;
    text-align: center;
    border-color: rgb(172, 172, 172);
    border-radius: 30px;
    padding: 5px 5px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: white;
}

#hint-container input[type="text"] {
    padding-left: 10px;
    border: none;
    outline: none;
}