body {
    background-image: radial-gradient(circle farthest-corner at 14.2% 27.5%, rgba(104,199,255,1) 0%, rgba(181,126,255,1) 90%);
    min-height: 100vh;
}

/* Set up for particles.js */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

label svg {
    cursor: pointer;
    padding: 10px;
}

input[type="file"] {
    display: none;
}

#word-input{   
    font-family: monospace;
    font-size: 36px;
    letter-spacing: 13px;
    display: inline-block;
}

#word-input::after {
    content: '';
    height: 3px; /* Adjust line thickness as needed */
    background-color: black; /* Adjust line color as needed */
}

#underline-container {
    border-bottom: 3px solid black; /* Underline effect */
}

.images-content {
    margin-top: 90px;
}

.image-cell {
    /* width: 180px;
    height: 180px; */
    aspect-ratio: 1; /* Ensure the aspect ratio of each cell is 1:1 */
    min-width: 180px;
    max-width: 240px;
    padding: 8px;
}

.change-img-icon {
    position: absolute;
    top: 2px;
    left: 2px;
    cursor: pointer;
}

.images-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    color: white;
}

.image-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}