.full-page-intro {
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle farthest-corner at 14.2% 27.5%, rgba(104,199,255,1) 0%, rgba(181,126,255,1) 90%);
    color: white;
    font-size: xx-large;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

img {
    border-radius: 20px;
    overflow: hidden;
}

.guess-phrase-section img {
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.how-to-play {
    background-image: radial-gradient(circle farthest-corner at 14.2% 27.5%, rgba(104,199,255,1) 0%, rgba(181,126,255,1) 90%);
    border-radius: 20px;
    color: white;
}

.how-to-image {
    width: 100%;
    padding-top: 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}

.how-to-image img {
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
}